.container {
	
	.gist {
		
		.gist-file {
			border: 1px solid #1B363F;

			.file-data {
				background: #002240;
			}

			.gist-data {

				.line-numbers {
					border-right: 1px solid #1B363F;
					background-color: #092E50;
				}
			}
		}

		.gist-syntax {
			.kd { color: #FFEE80; }
			.nx { color: #E7E7E7; }
			.p { color: #BED6FF; }
			.o { color: #B36539; }
			.k { color: #28A39E; }
			.s1, .s2 { color: #13D313; }
			.nb { color: #57FFAE; }
			.c1 { color: #3A90FD; }
			.mi { color: #CA5C8D; }
			.kc { color: #D82E87;}
		}
	}

}