@import "bootstrap/bootstrap";

@font-family-serif: "arno-pro", "Times New Roman", Times, serif;
@font-family-base: @font-family-serif;
@headings-font-weight: 700;
@link-color: #fff;

@font-size-h1: 40px;

body {
	background: #000;
	color: #fff;
}

.lead {
	font-size: @font-size-h1;
	line-height: 47px;

	a {
		border-bottom: 2px solid #fff;
		height: 43px;
		display: inline-block;

		&:hover {
			text-decoration: none;
		}
	}
}