@font-family-serif: "arno-pro", "Times New Roman", Times, serif;
@font-family-base: @font-family-serif;
@icon-font-path: "../fonts/";
@headings-font-weight: 700;
@link-color: #fff;
@font-size-h1: 55px;
@font-size-h3: 30px;
@container-tablet: 100%;
@container-desktop: 100%;
@grid-gutter-width: 50px;
@font-size-base: 18px;

@border-radius-base:             0px;
@border-radius-large:            0px;
@border-radius-small:            0px;

@modal-content-bg:                             #fff;
@modal-content-border-color:                   #000;
@modal-content-fallback-border-color:          transparent;

@modal-backdrop-bg:           #eee;
@modal-header-border-color:   #e5e5e5;
@modal-footer-border-color:   @modal-header-border-color;

@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;

@pre-bg:                      #1E262C;
@pre-color:                   #B5CACA;
@pre-border-color:            transparent;
@pre-scrollable-max-height:   340px;

@btn-default-color:              #000;
@btn-default-bg:                 transparent;
@btn-default-border:             #000;