$monoFontFamily: "Courier New", Courier, Monaco, Menlo, Consolas, monospace;
$lightblue: #AFC2CB;

$gridColumns:             9;
$gridColumnWidth:         80px;
$gridGutterWidth:         30px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// 1200px min
$gridColumnWidth1200:     80px;
$gridGutterWidth1200:     30px;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1));

// 768px-979px
$gridColumnWidth768:      62px;
$gridGutterWidth768:      24px;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) !default;

@import "bootstrap";
@import "bootstrap-responsive";

body{
	padding-top: 30px;
	font-family: $monoFontFamily;
}

h1.logo{
	@include hide-text;
	background: url('../images/logo.png') no-repeat top left;
	@include background-size(contain);
	width: 100%;
	height: 60px;
	padding: 0;
	margin: 0;
}

.content{
	border-top: 2px solid #000;	
}

.post{
	display: block;
	overflow: hidden;
	position: relative;
	border-top: 1px solid #000;
}

.image-left,
.image-right{
	position: absolute;
	height: 100%;
	width: 300px;
	@include background-size(300px);
	background-repeat: repeat-y;
}
.image-left{
	margin-left: 30px;
}
.image-right{
	margin-left: 360px;
}

a.row{
	height: auto;
}