$monoFontFamily: "Courier New", Courier, Monaco, Menlo, Consolas, monospace;

$lightblue: #AFC2CB;

$baseFontSize:          12px;
$baseLineHeight:        15px;

$textColor:             #000;
$linkColor:             #333;

$gridColumns:             9;
$gridColumnWidth:         80px;
$gridGutterWidth:         30px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// 1200px min
$gridColumnWidth1200:     80px;
$gridGutterWidth1200:     30px;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1));

// 768px-979px
$gridColumnWidth768:      62px;
$gridGutterWidth768:      24px;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1));

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('../font/League_Gothic-webfont.eot');
	src: local('☺'), url('../font/League_Gothic-webfont.woff') format('woff'), url('../font/League_Gothic-webfont.ttf') format('truetype'), url('../font/League_Gothic-webfont.svg#webfontOTINA1xY') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import "bootstrap";
@import "bootstrap-responsive";

@-webkit-keyframes gradatecolor {
	0%{
		color: #ffff00;
	}
	17%{
		color: #8BFF3F;
	}
	34%{
		color: #00ffff;
	}
	50%{
		color: #00ADEE;
	}
	67%{
		color: #00ffff;
	}
	84%{
		color: #8BFF3F;
	}
	100% {
		color: #ffff00;
	}
}
@-moz-keyframes gradatecolor {
	0%{
		color: #ffff00;
	}
	17%{
		color: #8BFF3F;
	}
	34%{
		color: #00ffff;
	}
	50%{
		color: #00ADEE;
	}
	67%{
		color: #00ffff;
	}
	84%{
		color: #8BFF3F;
	}
	100% {
		color: #ffff00;
	}
}
@-ms-keyframes gradatecolor {
	0%{
		color: #ffff00;
	}
	17%{
		color: #8BFF3F;
	}
	34%{
		color: #00ffff;
	}
	50%{
		color: #00ADEE;
	}
	67%{
		color: #00ffff;
	}
	84%{
		color: #8BFF3F;
	}
	100% {
		color: #ffff00;
	}
}
@-o-keyframes gradatecolor {
	0%{
		color: #ffff00;
	}
	17%{
		color: #8BFF3F;
	}
	34%{
		color: #00ffff;
	}
	50%{
		color: #00ADEE;
	}
	67%{
		color: #00ffff;
	}
	84%{
		color: #8BFF3F;
	}
	100% {
		color: #ffff00;
	}
}

@-webkit-keyframes gradatebg {
	0%{
		background-color: #ffff00;
	}
	17%{
		background-color: #8BFF3F;
	}
	34%{
		background-color: #00ffff;
	}
	50%{
		background-color: #00ADEE;
	}
	67%{
		background-color: #00ffff;
	}
	84%{
		background-color: #8BFF3F;
	}
	100% {
		background-color: #ffff00;
	}
}
@-moz-keyframes gradatebg {
	0%{
		background-color: #ffff00;
	}
	17%{
		background-color: #8BFF3F;
	}
	34%{
		background-color: #00ffff;
	}
	50%{
		background-color: #00ADEE;
	}
	67%{
		background-color: #00ffff;
	}
	84%{
		background-color: #8BFF3F;
	}
	100% {
		background-color: #ffff00;
	}
}
@-ms-keyframes gradatebg {
	0%{
		background-color: #ffff00;
	}
	17%{
		background-color: #8BFF3F;
	}
	34%{
		background-color: #00ffff;
	}
	50%{
		background-color: #00ADEE;
	}
	67%{
		background-color: #00ffff;
	}
	84%{
		background-color: #8BFF3F;
	}
	100% {
		background-color: #ffff00;
	}
}
@-o-keyframes gradatebg {
	0%{
		background-color: #ffff00;
	}
	17%{
		background-color: #8BFF3F;
	}
	34%{
		background-color: #00ffff;
	}
	50%{
		background-color: #00ADEE;
	}
	67%{
		background-color: #00ffff;
	}
	84%{
		background-color: #8BFF3F;
	}
	100% {
		background-color: #ffff00;
	}
}


.gradatecolor{
	-webkit-animation: gradatecolor 20s infinite; 
	-moz-animation: gradatecolor 20s infinite; 
	-o-animation: gradatecolor 20s infinite; 
	animation: gradatecolor 20s infinite;
	color: #ffff00;
}
.gradatebg{
	-webkit-animation: gradatebg 20s infinite; 
	-moz-animation: gradatebg 20s infinite; 
	-o-animation: gradatebg 20s infinite; 
	animation: gradatebg 20s infinite;
	background-color: #ffff00;
}

body{
	padding: 30px 0;
	font-family: $monoFontFamily;
}
img{
	width: 100%;
	height: auto;
}
li {
	line-height: 18px;
}
p, h2{
	margin-bottom: 20px;
}
p a{
	text-decoration: underline;
}
h1.logo{
	@include hide-text;
	background: url('../images/logo.png') no-repeat top left;
	@include background-size(contain);
	width: 100%;
	height: 60px;
	padding: 0;
	margin: 0;
}

.header-nav{
	margin: 0;
	li{
		list-style: none;
		a{
			font-family: 'LeagueGothicRegular';
			text-transform: uppercase;
			font-size: 30px;
			line-height: 1.25;
		}
		
	}
}

h2{
	font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	font-size: 44px;
	font-weight: normal;
}

.content{
	border-top: 2px solid #000;	
}

.post{
	display: block;
	overflow: hidden;
	position: relative;
	border-top: 1px solid #000;
	padding: 20px 0;
}

.image-left,
.image-right{
	position: absolute;
	height: 100%;
	width: 300px;
	@include background-size(300px);
	background-repeat: repeat-y;
	margin-top: -20px;
}
.image-left{
	margin-left: 30px;
}
.image-right{
	margin-left: 360px;
}

a .post{
	color: #000;
}
.post-wrapper:hover h2{
	text-decoration: underline;
}
.post-image{
	margin-bottom: 20px;
}

.filters{
	list-style: none;
	margin: 0 0 20px 0;
	float: left;
	li{
		float: left;
		margin-right: 20px;
		.activework{
			text-decoration: underline;
		}
	}
}
.workitem{
	-webkit-transition: .1s linear;
	-moz-transition: .1s linear;
	-o-transition: .1s linear;
	transition: .1s linear;
	position: relative;
	margin-bottom: 30px;
	&.filtered{
	  opacity: .1;
	}
	.work-wrapper{
		height: 0;
		padding-bottom: 100%;
		overflow: hidden;
	}
	a h3{
		-webkit-transition: opacity .1s linear;
		-moz-transition: opacity .1s linear;
		-o-transition: opacity .1s linear;
		transition: opacity .1s linear;
		opacity: 0;
		background-image: url(../images/casepattern.png);
	}
	a:hover h3 {
		font-family: 'LeagueGothicRegular';
		text-transform: uppercase;
		font-size: 44px;
		font-weight: normal;
		display: block;
		width: 170px;
		height: 170px;
		position: absolute;
		padding: 10px;
		margin-top: -190px;
		margin-bottom: 0;
		text-decoration: none;
		color: #000;
		opacity: .925;
		
		-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
		-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
		-o-box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
		box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
	}
}

.work-image{
	margin: 20px 0 0 0;
	box-shadow: 0 0 5px #ccc;
}


@media (min-width: 768px) and (max-width: 979px) {
	.image-left,
	.image-right{
		width: 236px;
		@include background-size(236px);
	}
	.image-left{
		margin-left: 24px;
	}
	.image-right{
		margin-left: 280px;
	}
	.workitem{
		margin-bottom: 24px;
	 	a:hover h3 {
			font-size: 44px;
			width: 128px;
			height: 128px;
			padding: 10px;
			margin-top: -148px;
			opacity: .925;
		}
	}
}
@media (max-width: 767px){
	body{
		padding-left: 20px;
		padding-right: 20px;
	}
	.image-left,
	.image-right{
		display: none;
	}
	img{
		width: 100%;
		height: auto;
	}
}