<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travis McKinney | Brooklyn based designer and developer</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Travis McKinney is a designer and web developer living and working in Brooklyn.{% endif %}">
  <link rel="stylesheet" href="{{site.url}}/css/style.css">
  <link rel="stylesheet" href="{{site.url}}/css/prettify.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <script type="text/javascript" charset="utf-8">
    var path = window.location.pathname;
    
    if (window.location.pathname !== "/"){
      window.location.href = "{{ site.url }}/#!" + path;
    }
  </script>
</head>
<body>
  {{ content }}
  <script type="text/javascript" charset="utf-8">
    var work = {
  {% for post in site.categories.work %}
      "{{ post.url | remove_first:'/work/' }}" : {
        title: "{{ post.title }}",
        content: "{{ post.content | strip_newlines }}",
        images: [{% for image in post.images %}"{{ site.url }}/images/work/{{ image }}",{% endfor %}]
      },
  {% endfor %}
    };

    var blog = {
  {% for post in site.categories.blog %}
      "{{ post.url | remove_first:'/blog/' }}" : {
        title: "{{ post.title }}",
        content: "{{ post.content | newline_to_br | strip_newlines }}",
        image: "{{ site.url }}/images/blog/{{ post.image }}"
      },
  {% endfor %}
    };
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="{{site.url}}/js/lib/prettify.js"></script>
  <script src="{{ site.url }}/js/lib/jquery.hashchange.min.js"></script>
  <script src="{{site.url}}/js/lib/jquery.imagesloaded.min.js"></script>
  <script src="{{site.url}}/js/lib/jquery.masonry.min.js"></script>
  <script src="{{site.url}}/js/custom.js"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27290005-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script> 
</body>
</html>