{% include header.html %}
<div class="row">
	<div class="span6 content">
		{{ content }} 
	</div>
  <div class="span2">
    <div class="sidebar">
      <h3>Socialize</h3>
      <ul>
        <li><a href="https://twitter.com/braznaavtrav" class="twitter" data-hover="braznaavtrav">Twitter</a></li>
        <li><a href="http://instagram.com/braznaavtrav" class="instagram" data-hover="braznaavtrav">Instagram</a></li>
        <li><a href="https://github.com/braznaavtrav" class="github" data-hover="braznaavtrav">Github</a></li>
        <li><a href="http://stackoverflow.com/users/1173813/trav-mckinney" class="stackoverflow" data-hover="Trav McKinney">StackOverflow</a></li>
      </ul>
    </div>
  </div>
</div>    
{% include footer.html %}