<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travis McKinney | Software Engineer - Portland, Maine</title>
  <meta name="description" content="{{ page.description }}">
  <script type="text/javascript" src="//use.typekit.net/aqb3hgo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="shortcut icon" href="{{site.url}}img/favicon.png">
</head>
<body class="{{ page.body_class }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a class="home-link change-bg" href="{{ site.url }}"  data-bg-color="#2f2f2a" data-stroke-color="#444" data-face-color="rgba(255, 255, 255, 0.1)">
          <h1>Travis M<span class="c">c</span><span class="k">K</span>inney</h1>
        </a>
      </div>
    </div>
    {{ content }}
  </div>
  <script src="{{site.url}}/js/bundle.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27290005-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
