---
layout: default
body_class: work
---
{% include subheader.html %}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="work-content row">
			<div class="col-sm-8 col-sm-offset-2">
				{{ page.content }}
				<hr>

				{% if page.iframe_url || page.full_case %}
					<p class="links">
						<a class="btn btn-default" href="{{ page.iframe_url }}" target="_blank">View Site</a>
						{% if page.full_case %}
							<a class="btn btn-default" href="{{ page.full_case }}" target="_blank">View Full Case Study</a>
						{% endif %}		
					</p>
				{% endif %}
			</div>
		</div>


		{% if page.iframe_url %}
			<div class="browser-top">
				{{ page.title }}
			</div>
			<div class="iframe-wrapper">
				<iframe src="{{ page.iframe_url }}" frameborder="0"></iframe>
			</div>
			<div class="browser-bottom"></div>
		{% endif %}

		{% for image in page.images %}
			  <img src="/img/work/{{ image }}">
		{% endfor %}

	</div>
</div>
<canvas id="canvas" data-bg-color="{{ page.bg_color }}" data-stroke-color="{{ page.stroke_color }}" data-still="1"></canvas>