<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>Travis McKinney{% if page.title %} | {{ page.title }} {% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Travis McKinney is a designer and web developer living and working in Brooklyn.{% endif %}">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/prettify.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span1 header">
				<a href="/" class="logo-link"><h1 class="logo">Travis McKinney</h1></a>
				<ul class="header-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/work">Work</a></li>
				</ul>
			</div>
			<div class="span8">
<div class="row">
	<div class="span8">
		<ul id="filters" class="filters">
			<li><a href="#" class="activework" data-filter="*">All</a></li>
			<li><a href="#" data-filter=".brand">Brand</a></li>
			<li><a href="#" data-filter=".web">Web Design</a></li>
			<li><a href="#" data-filter=".development">Development</a></li>
			<li><a href="#" data-filter=".misc">Misc</a></li>
		</ul>
	</div>
</div>
{{ content }}
</div><!-- .span8 -->
	</div><!-- .row -->
</div><!-- .container -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/js/prettify.js"></script>
<script src="/js/custom.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27290005-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>