{% include header.html %}
<div class="row">
	<div class="post span8">
		<div class="row">
			<div class="image-left" style="background-image:url({{ site.url }}/images/work/{{ page.image }})"></div>
			<div class="span5 offset3">
				<h2>{{ page.title }}</h2>
				<p>{{ content }}</p>
			</div>
		</div>
	</div>
	<div class="span8">
  	{% for image in page.images %}
    	<div class="row">
    		<div class="span8">
    			<img class="work-image" src="{{ site.url }}/images/work/{{ image }}">
    		</div>
    	</div>	
  	{% endfor %}
	</div>
</div>
{% include footer.html %}